<%- include("includes/header.ejs") %>

<main>
    <h1>Fuzzing Group Entries</h1>
    <h2>Group <%= group %></h2>

    <pre><code><%= groupLogs[0].panic %></code></pre>

    <%- include("includes/listing.ejs", {logs: groupLogs}) %>
</main>

<%- include("includes/footer.ejs") %>
